<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24369310753-9u7d9blgh93cttlu9p10m0q12viicgqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24369310753-9u7d9blgh93cttlu9p10m0q12viicgqs</string>
	<key>API_KEY</key>
	<string>AIzaSyAjmDctr14h9Ssj6KHbrF9rwOfTLAwLbNU</string>
	<key>GCM_SENDER_ID</key>
	<string>24369310753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moood</string>
	<key>PROJECT_ID</key>
	<string>moood-97f03</string>
	<key>STORAGE_BUCKET</key>
	<string>moood-97f03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24369310753:ios:dae174f0d6058155ef8760</string>
</dict>
</plist>